---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

import config from "../data/config.json";

import adriaImg from "../assets/images/adria.jpeg";

import artworkImg1 from "../assets/images/artworks/artwork1.jpeg";
import artworkImg2 from "../assets/images/artworks/artwork2.jpeg";
import artworkImg3 from "../assets/images/artworks/artwork3.jpeg";
import artworkImg4 from "../assets/images/artworks/artwork4.jpeg";
---

<Layout title={config.businessName}>
  <section
    id="heroImgWrapper"
    class="relative h-[500px] overflow-hidden max-md:h-96 max-w-screen-xl mx-auto pb-16 max-md:pb-8"
  >
    <Image
      src={artworkImg1}
      alt="hero img"
      class="heroImg object-cover absolute h-full w-full grayscale-[0.5] z-20"
    />
    <Image
      src={artworkImg2}
      alt="hero img"
      class="heroImg object-cover absolute h-full w-full grayscale-[0.5] z-10"
    />
    <Image
      src={artworkImg3}
      alt="hero img"
      class="object-cover absolute h-full w-full grayscale-[0.5]"
    />
    <Image
      src={artworkImg4}
      alt="hero img"
      class="object-cover absolute h-full w-full grayscale-[0.5]"
    />
  </section>
  <section
    class="py-16 max-md:py-8 max-w-screen-xl mx-auto px-2 flex flex-col gap-8"
  >
    <div class="grid grid-cols-2 gap-8 max-md:grid-cols-1">
      <div class="flex flex-col gap-2">
        <h1 class="text-6xl font-bold">{config.name}</h1>
        <h2 class="font-light text-lg">b.1982, New Zealand</h2>
        <h3 class="italic font-light">
          Expressive, abstract paintings on a variety of supports, including
          copper, brass, aluminium, and acrylic.
        </h3>
        <p class="whitespace-pre-line text-xl font-light mt-4">
          {config.description}
        </p>
      </div>
      <Image src={adriaImg} alt="adria profile image" class="w-full" />
    </div>
    <h1 class="text-center text-sm">Currently in Auckland City Gallery</h1>
  </section>
</Layout>

<script>
  import gsap from "gsap";

  const heroBGTimeline = gsap.timeline();
  heroBGTimeline
    .to("#heroImgWrapper", {
      opacity: 1,
      duration: 1,
    })
    .to(".heroImg", {
      opacity: 0,
      duration: 2,
      stagger: 6,
      yoyo: true,
      repeatDelay: 3,
      delay: 3,
      repeat: -1,
    });
</script>
