---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

import config from "../data/config.json";

import adriaImg from "../assets/images/adria.jpeg";

import artworkImg1 from "../assets/images/artworks/artwork1.jpeg";
import artworkImg2 from "../assets/images/artworks/artwork2.jpeg";
import artworkImg3 from "../assets/images/artworks/artwork3.jpeg";
import artworkImg4 from "../assets/images/artworks/artwork4.jpeg";

import { getArtworks } from "../data/utils.astro";
const artworks = await getArtworks();
---

<Layout title={config.businessName}>
  <section
    id="heroImgWrapper"
    class="relative h-[600px] mb-12 overflow-hidden max-md:h-[calc(80dvh)] max-w-screen-xl mx-auto max-md:mb-4"
  >
    <Image
      src={artworkImg1}
      alt="hero img"
      class="heroImg object-cover absolute h-full w-full"
    />
    <Image
      src={artworkImg2}
      alt="hero img"
      class="heroImg object-cover absolute h-full w-full opacity-0"
    />
    <Image
      src={artworkImg3}
      alt="hero img"
      class="object-cover absolute h-full w-full opacity-0"
    />
    <Image
      src={artworkImg4}
      alt="hero img"
      class="object-cover absolute h-full w-full opacity-0"
    />
  </section>
</Layout>

<script>
  import gsap from "gsap";

  const images = document.querySelectorAll(".heroImg");

  const heroBGTimeline = gsap.timeline({ repeat: -1, repeatDelay: 1 });
  images.forEach((image, index) => {
    const nextImage = images[(index + 1) % images.length];
    heroBGTimeline
      .to(image, { duration: 2, opacity: 0 }, `+=2`)
      .to(nextImage, { duration: 2, opacity: 1 }, "<");
  });
</script>
